$valueOne: 1;
.button-cluster {
  text-align: center;
  display: flex;
  margin-top: 30px;
}
.month-selector {
  // justify-content: center;
  flex: 1 1 calc(80% / 3);
  a {
    flex: 0 0 12.7%;
    text-align: center;
    align-content: center;
  }
}
.display-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.border-left {
  border-left: 1px solid #fff !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}

.tab-list {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  .tab {
    padding: 10px 30px;
    background-color: #a7d8ff;
    margin: 0 5px;
    border: 1px solid #80a9c9;
    cursor: pointer;
  }
}

.week-view {
  display: flex;
  .month-calendar{ 
    flex: 1;
  }
  .week-calendar {
    flex: 4;
    margin: 20px 10px 0px ;
    padding: 0px 0 10px;
    border: 1px solid;
  }
}
