<!-- configure section -->

<div class="button-cluster">
	<div class="month-selector display-flex">
		<button (click)="navigateMonth(-1)">&#10094;<!--Previous--></button>
		<a>{{monthName}} {{currentSelection.year}}</a>
		<button (click)="navigateMonth(1)">&#10095;<!--Next--></button>
	</div>
	<button (click)="showOtherMonthDates()">{{options.enableOtherMonth ? 'Hide' : 'Show'}} other month dates</button>
	<button (click)="toggleSundayOption()">{{options.startWithSunday ? 'End with' : 'Start with'}} Sunday</button>
</div>
<div class="tab-list">
	@for (tab of tabs; track tab) {
	<div class="tab"
			 (click)="tabSelected(tab.id)">{{tab.name}}</div>
	}
</div>

@switch (selectedTab) {
@case (1) {
<month-view [daylist]="calendarWeek"
						[days]="days"
						[startWithSunday]="options.startWithSunday"></month-view>
}
@case (2) {
<div class="week-view">
	<div class="month-calendar">

		<month-view [daylist]="calendarWeek"
								[days]="days"
								[startWithSunday]="options.startWithSunday"
								(updateWeek)="updateWeek($event)"></month-view>
	</div>
	<div class="week-calendar">

		<week-view [daylist]="calendarWeek"
							 [calendarView]="calendarView"
							 [days]="days"
							 [startWithSunday]="options.startWithSunday"></week-view>
	</div>
</div>
}
@default {
<day-view></day-view>
}
}